<div class='navbar  navbar-fixed-top'>
    <div class='navbar-inner'>
        <div class="container">
            <button type='button' class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">This Site</a>
            <div class='nav-collapse collapse'>
                <ul class="nav pull-right">
                   <li><a href='#sampleModal' data-toggle='modal'>Show Modal</a></li>           
                   <li class='dropdown'>
                    <a class='dropdown-toggle' href='#' data-toggle='dropdown'>
                        Hello <b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu pull-right'>

                       <li><a href='#sampleModal' data-toggle='modal'>Your Settings </a></li>
                       <li><a href='/login'> Log In </a></li>
                   </ul>
               </li>
           </ul>
       </div>{#collaps#}
   </div>{#container#}
</div>{#Navbar inner#}
</div>{#Navbar#}

